<% content_for(:html_title) { "Dojo Dashboard | Dojo #{@dojo.id}" } %>
<h1> <%= @dojo.branch%> </h1>
<h3> <label> Street: </label> <%= @dojo.street%> </h3>
<h3> <label> City: </label> <%= @dojo.city%>  <label> State: </label> <%= @dojo.state%></h3>
<h2> Students </h2>
<table>
    <thead>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Email Address </th>
        <th> Action </th>
    </thead>
    <tbody>
        <%  @students.each do |student| %>
            <tr>
                <td> <%= student.first_name %> </td>
                <td> <%= student.last_name %> </td>
                <td> <%= student.email %> </td>
                <td>
                    <a class="action_btn" href="<%= @dojo.id %>/students/<%= student.id %>">Show</a> | 
                    <a class="action_btn" href="<%= @dojo.id %>/students/<%= student.id %>/edit">Edit</a> |
                    <form class="delete_form" action="<%= @dojo.id %>/students/<%= student.id %>/delete" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">  
                        <input class="action_btn" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        <%  end %>
    </tbody>
</table>
<p class="footer"> <a href="/">Home<a> | <a href="<%= @dojo.id %>/edit">Edit Dojo<a> | <a href="<%= @dojo.id %>/students/new"> Add New Student</a> </p>